body {
    background-image: url("background.jpg");
    font-family: "Courgette";
}

.homepageimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
}


  #mySearch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
    border-radius: 25px;
  }
  
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    display: block
  }

  .ratings {
    margin-left: 75%;
    position: absolute;
  }

  .checked {
    color: yellow;
  }

  .sidenav {
    height: 80%;
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 750px;
    left: 0;
    background-color: #111;
    overflow: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 0;
    text-decoration: none;
    font-size: 25px;
    color: #0097FF;
    display: block;
  }
  
  .sidenav a:hover {
    color: #0061FF;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  *.imagecontainer {
    margin: 0px;
    padding: 0px;
  }
  
  .imagecontainer {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .video1 {
    margin-left: 10%;
  }

  .video2 {
    margin-left: auto;
    margin-right: auto;
  }

  .video3 {
    margin-right: 4%;
  }

  .videotext {
    margin-bottom: 0;
  }
