body {
    background-image: url("/InNOVAtion-LABS-main/background.jpg");
}

.title {
    text-align: top center;
}

.slogan {
    text-align: top center;
}

.ctrimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    width: 150px;
    height: 150px;
}

.footer {
    margin-top: 50vh;
    text-align: center;
}

.copyright {
    text-align: center;
}

.equipmentinfo{
    text-align: center;
}
